<header>
  <div class="title-bar" data-responsive-toggle="example-animated-menu" data-hide-for="medium">
    <div class="title-bar-left">
      <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>
      <span class="title-bar-title"><a href="/">{{ site.title }}</a></span>
    </div>
  </div>

  <div class="top-bar" id="example-animated-menu" data-animate="hinge-in-from-top spin-out">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li>
          <a href="/">{{ site.title }}</a>
        </li>
        {% for menuItem in site.data.menus.site %}
        <li>
          <a href="{{ menuItem.link }}">{{ menuItem.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</header>
